.prodListWrapper {
  font-family: var(--alerg-font-family);
  width: 82.5vw;
  margin: auto;
  margin-top: 25px;
}

.prodList {
  width: 100%;
  height: 38.5px;
  font-size: 22px;
  font-weight: 600;
  border-radius: 5px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  margin-bottom: 17.5px;
}

.prodNewList {
  color: var(--alerg-color-medium-green);
  background-color: white;
  border: 2px solid var(--alerg-color-medium-green);
}

.prodNewListIcon {
  font-size: 30px;
  padding-right: 16px;
}

.prodListName {
  color: var(--alerg-color-background);
  justify-content: space-between;
  background-color: var(--alerg-color-medium-green);
}

