.homeSlidesContainer {
    --bullet-background: var(--alerg-color-dark-green);
    --bullet-background-active: var(--alerg-color-dark-green);
    height: 67vh;
    margin-top: -0.5vh;
}

.homeWrapper {
    text-align: center;
    display: flow-root;
    position: relative;
    top: 4vh;
    width: 87.5vw;
    margin: auto;
}

div.homeWrapper h1 {
    position: relative;
    top: 2vh;
    margin: 0;
    z-index: 2;
}

.contentSpinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}