.profilesPWrapper {
    width: 76vw;
    margin: auto;
    margin-top: 20px;
    font-family: var(--alerg-font-family);
    color: var(--alerg-color-dark-green);
    font-size: 22px;
    font-weight: 600;
}

.profilesGridContainer {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 3vw;
    margin: 20px 0 70px 0;
}

.profileContainer {
    /* background: lightgoldenrodyellow; */
    /* display: flow-root;
    justify-content: center;
    align-items: center; */
    margin: auto;
    position: relative;
}

.profileNameContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -13px;
}

.profilesEdit {
    margin-left: 10px;
}

.profilesUserIcon {
    font-size: 495%;
    color: var(--alerg-color-light-green);
}

.profileBorder {
    width: 97px;
    height: 97px;
    background: none;
    border: 5px solid var(--alerg-color-orange);
    border-radius: 100%;
    position: absolute;
    top: 5%;
    left: 5.5%;
}

.hideProfileBorder {
    display: none;
}

.changeLanguageWrapper {
    display: flex;
    justify-content: space-between;
}

.language {
    font-weight: 300;
}

.profilesLine {
    border-bottom: 1.5px solid var(--alerg-color-dark-green);
    margin: 3px;
    width: 100%;
}