.searchResultsWrapper {
    width: 296px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 3vw;
    margin-top: 25px;
}

.noResults {
    height: 100%;
    width: 76vw;
    display: flex;
    margin: auto;
    align-items: center;
    font-family: var(--alerg-font-family);
    font-size: 18px;
    font-weight: 600;
}