.toolbarGridContainer {
    display: grid;
    grid-template-columns: 20% auto 20%;
}

.toolbarTitle {
    text-align: center;
}

.toolbarGridCol {
    text-align: center;
    color: var(--rita-color-dark-green);
    margin: auto;
}

.userToolbarIcon {
    font-size: 170%;
}

.userToolbarText {
    margin: 0;
}