.headerToolbar {
    --background: var(--alerg-color-background);
}

.headerGridContainer {
    display: grid;
    grid-template-columns: 17% 66% 17%;
    
}

.headerGridCol {
    text-align: center;
    color: var(--alerg-color-dark-green);
    margin: auto;
}

.headerTitle {
    text-align: center;
    position: relative;
    top: 9.5px;
    font-family: var(--alerg-font-family);
    font-weight: 600;
    font-size: 24px;
    color: var(--alerg-color-dark-green);
}

.headerUserIcon {
    font-size: 170%;
}

.headerUser {
    width: 90%;
    position: relative;
    top: -2px;
    margin-top: 12px;
}

.headerUserText {
    font-family: var(--alerg-font-family);
    font-size: 18.5px;
    position: relative;
    top: -7px;
}

.headerSearch {
    align-items: center;
    /* margin-top: 7.5px; */
}

.headerSearchbar {
    --box-shadow: none;
    --background: none;
    --color: var(--alerg-color-dark-green);
    --icon-color: var(--alerg-color-dark-green);
    --clear-button-color: var(--alerg-color-dark-green);
}

.searchLine {
    border-bottom: 1.5px solid var(--alerg-color-dark-green);
    margin: 0;
    width: 65%;
    position: relative;
    top: -2.5vh;
    left: 8vh;
}

.backButton {
    --background: none;
    --box-shadow: none;
    /* position: relative;
    top: 4px; */
}

.backButtonIcon {
    color: var(--alerg-color-dark-green);
    font-size: 190%;
}