.searchList {
    padding: 4.5vh 0;
}

.listCard {
    width: 298px;
    height: 35px;
    background-color: white;
    border: 1.5px solid var(--alerg-color-dark-green);
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 7px;
    padding: 0 13px;
    display: flex;
    align-items: center;
}

.listCardTitle {
    font-family: var(--alerg-font-family);
    color: var(--alerg-color-dark-green);
    font-size: 20px;
}



.listCardActive {
    background-color: var(--alerg-color-dark-green);
    border-radius: 5px 5px 0 0;
}

.listCardTitleActive {
    font-family: var(--alerg-font-family);
    color: var(--alerg-color-background);
    font-size: 20px;
}

  
.hideListContent {
    display: none;
    overflow: hidden;
    background-color: white;
    width: 298px;
}

.showListContent {
    overflow: hidden;
    background-color: white;
    width: 298px;
    border: 1.5px solid var(--alerg-color-dark-green);
    border-radius: 0 0 5px 5px;
    margin: 0 auto;
    padding: 0 13px;
    display: grid;
}


