.searchList {
    padding: 4.5vh 0;
}

.listCard {
    width: 298px;
    height: 35px;
    background-color: white;
    border: 1px solid var(--alerg-color-dark-green);
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 7px;
    padding: 0 13px;
    display: flex;
    align-items: center;
    transition: border-radius 0.5s ease;
}

.listCardTitle {
    font-family: var(--alerg-font-family);
    color: var(--alerg-color-dark-green);
    font-size: 20px;
}



.listCardActive {
    background-color: var(--alerg-color-dark-green);
    border-radius: 5px 5px 0 0;
}

.listCardTitleActive {
    font-family: var(--alerg-font-family);
    color: var(--alerg-color-background);
    font-size: 20px;
}

  
.hideListContent {
    overflow: hidden;
    background-color: white;
    border-width: 0; 
    border-style: solid; 
    border-color: var(--alerg-color-dark-green);
    border-radius: 0 0 5px 5px;
    margin: 0 auto;
    width: 298px;
    height: auto;
    max-height: 0;
    transition: max-height 0.5s ease-in-out, border 0.1s ease;
    display: grid;
}

.hideListContent.effect {
    overflow: hidden;
    background-color: white;
    border-width: 0 2px 2px 2px;
    border-style: solid;
    border-radius: 0 0 5px 5px;
    border-color: var(--alerg-color-dark-green);
    margin: 0 auto;
    width: 298px;
    max-height: 300px;
    display: grid;
}

.listCardSubTitle{
    font-family: var(--alerg-font-family);
    color: var(--alerg-color-dark-green);
    font-size: 18px;
    padding: 5px 28px;
    border-bottom: 1px solid var(--alerg-color-dark-green);
    width: 298px;
    position: relative;
    top: 1px;
}


