.headerToolbar {
    --background: var(--alerg-color-background);
}

.headerGridContainer {
    display: grid;
    grid-template-columns: 20% auto 20%;
    
}

.headerTitle {
    text-align: center;
}

.headerGridCol {
    text-align: center;
    color: var(--alerg-color-dark-green);
    margin: auto;
}

.headerUserIcon {
    font-size: 170%;
}

.headerUserText {
    margin: 0;
    font-family: var(--alerg-font-family);
}

.headerSearch {
    align-items: center;
}

.headerSearchbar {
    --box-shadow: none;
    --background: none;
    --color: var(--alerg-color-dark-green);
    --icon-color: var(--alerg-color-dark-green);
    --clear-button-color: var(--alerg-color-dark-green);
}

.searchLine {
    border-bottom: 1.5px solid var(--alerg-color-dark-green);
    margin: 0;
    width: 65%;
    position: relative;
    top: -2.5vh;
    left: 8vh;
}

.backButton {
    display: block;
}